<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%# <img src="images/jira.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
       %>
      <%= image_tag "jira.svg", class: "img-fluid d-inline-block align-text-top image"%>
      Jeera
    </a>
  </div>
</nav>
