
<style>
  body{
  background-color: #091e42;
  color: white;

}
.heading{
  // color: white;
  text-align: center;

}

.custom{
  display: flex;
  flex-wrap: initial;
}

.text{
  padding: 50px;
}

.login-card{
  padding-top: 45px;
}

.image{
  height: 24px;
  width: 30px;
}


</style>

<%= render "navbar"%>

<div class="container">
  <div class="row custom">
    <div class="col-lg-6 ms-4 text">
      <div>
        <p class="h1">The #1 software development tool for managing your projects </p>
        <p ><strong>Our app include following things :</strong></p>
        <ul style="list-style-type:none;">
          <li>Create multiple projects</li>
          <li>Create multiple boards</li>
          <li>Create multiple projects</li>
          <li>Create multiple tasks</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 ms-5 login-card">
      <div class="card" style="width: 25rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Get Started</h5>
          <h6 class="card-subtitle mb-2 text-muted">Create your account</h6>
          <p class="card-text">Sign In if you already have a account or just create one!</p>
          <%= link_to "Sign Up", new_user_registration_path,class: "btn btn-primary" %>
          <%= link_to "Sign In", user_session_path,class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
