

<% tickets.each do |ticket| %>
  <% if ticket.doing? %>
    <% if Flipper.enabled?(:ticket_modal, current_user) %>
      <li data-bs-toggle="modal" data-bs-target="#exampleModal<%= ticket.id %>"><%=ticket.name%></li>
      <%= render partial:'sprints/modal', locals: { ticket: ticket} %>
    <% else %>
      <li><%= link_to ticket.name, project_board_sprint_ticket_path(id: ticket, sprint_slug: params[:slug]) %></li>
    <% end %>
  <% end %>
<% end %>




