

<% tickets.each do |ticket| %>
  <% if ticket.testing? %>
    <li data-bs-toggle="modal" data-bs-target="#exampleModal<%= ticket.id %>"><%=ticket.name%></li>
      <%= render partial:'sprints/modal', locals: { ticket: ticket} %>

  <% end %>
<% end %>


