

<% tickets.each do |ticket| %>
  <% if ticket.to_do? %>
    <li data-bs-toggle="modal" data-bs-target="#exampleModal<%= ticket.id %>"><%=ticket.name%></li>
      <%= render partial:'sprints/modal', locals: { ticket: ticket} %>
  <% end %>
<% end %>

<%#= link_to ticket.name, project_board_sprint_ticket_path(id: ticket, sprint_slug: params[:slug]) %>
