<h1>All projects</h1>
<hr>


<% @projects.each do |project| %>
  <h3><%= project.name %></h3><br>
  <p><%= project.description %></p><br>
  <p><%= project.user.email %></p><br>
  <%= link_to "Show", project_path(project) %>
  <hr>

<% end %>
