<div class="container">
  <h1>All projects</h1>

  <div class="d-flex">
    <% current_user.projects.each do |project| %>
      <div class="card mx-2 mb-2" style="width: 18rem;">
        <div class="card-body">
          <%= render partial: "project", locals: { project: project } %>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user.has_role? (:manager) %>
    <%= link_to "Create Project", new_project_path, class: "btn btn-outline-primary" %>
  <% end %>
</div>
