<p>Hello <%= @email %>!</p>

<p>Your sprint is ending soon. Complete all the incomplete tasks </p>

<p>Or you can just transfer them to a new sprint! </p>

<p>So don't forget to create a new sprint. </p>
